.btn {
  background: #000;
  color: #fff;
  line-height: 42px;
  padding: 0;
  border: none;
  height: 40px;
  width: 50px;
  position : absolute;
}

#app{
  text-align: center;
  position: absolute;
  display: inline-block;
  width: 602px;
  height: 402px;
  position: absolute;
  left: 30%;
  top:3%;
}
#game_field{
 
  
}